<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body>
    <div class="header">
        <img src="./badge.jpg" class= "logo"/>
        <div class="header-right">
            <a href="./profile.html" class="active">Profile</a>
            <a href="./run-candidate.html" class="active">add bio data</a>

            <div class="search">
                <input placeholder="search party" />
            </div>

        </div>
    </div>


        <p>
            <a href="./create.html"><button class="add"> Add New Party </button></a>
        </p>
    </div>

    <h2>All Parties</h2>

    <div class="card-wrapper">
        <div class="card">
            <img src="politicalhand.png">
            <div class="container">
                <h1><b>pvc</b></h1>
                <p>we are the best</p>
                <a href="./edit.html"><button> EDIT </button></a>

                <button>DELETE</button>
                <a href="./voting.html"><button>VIEW</button>

            </div>
        </div>

        <div class="card">
            <img src="politicalhand.png">
            <div class="container">
                <h1><b>pvc</b></h1>
                <p>we are the best</p>
                <div class="button">
                    <a href="./edit.html"><button> EDIT </button></a>
                    <button>DELETE</button>
                    <a href="./voting.html"><button>VIEW</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="politicalhand.png">
            <div class="container">
                <h1><b>pvc</b></h1>
                <p>we are the best</p>
                <div class="button">
                    <a href="./edit.html"><button> EDIT </button></a>
                    <button>DELETE</button>
                    <a href="./voting.html"><button>VIEW</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="politicalhand.png">
            <div class="container">
                <h1><b>pvc</b></h1>
                <p>we are the best</p>
                <div class="button">
                    <a href="./edit.html"><button> EDIT </button></a>
                    <button>DELETE</button>
                    <a href="./voting.html"><button>VIEW</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="card">
            <img src="politicalhand.png">
            <div class="container">
                <h1><b>pvc</b></h1>
                <p>we are the best</p>
                <a href="./edit.html"><button> EDIT </button></a>
                <button>DELETE</button>
                <a href="./voting.html"><button>VIEW</button>

            </div>
        </div>

        <div class="card">
            <img src="politicalhand.png">
            <div class="container">
                <h1><b>pvc</b></h1>
                <p>we are the best</p>
                <div class="button">
                    <a href="./edit.html"><button> EDIT </button></a>
                    <button>DELETE</button>
                    <a href="./voting.html"><button>VIEW</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="politicalhand.png">
            <div class="container">
                <h1><b>pvc</b></h1>
                <p>we are the best</p>
                <div class="button">
                    <a href="./edit.html"><button> EDIT </button></a>
                    <button>DELETE</button>
                    <a href="./voting.html"><button>VIEW</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="politicalhand.png">
            <div class="container">
                <h1><b>pvc</b></h1>
                <p>we are the best</p>
                <div class="button">
                    <a href="./edit.html"><button> EDIT </button></a>
                    <button>DELETE</button>
                    <a href="./voting.html"><button>VIEW</button>
                </div>
            </div>
        </div>
    </div>

    <div class="close">
        Policies: Terms of use | Privacy | Authentic Items<br>
        Copyright © 2019 politico.com All rights reserved.<br>
        Designed by: damilola
    </div>
</body>

</html>