<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body background="hand.jpg">
    

    <div class="form">
        <div class="input-fill">
            <p>
                <div class="sign-up">REGISTER YOUR PARTY HERE</div>
            </p>
                    <form>
                        <div>
                            <input placeholder="Party Name" />
                        </div> <br>
                        <div>
                            <input placeholder="Party slogan" />
                        </div> <br>
                        <div>
                            <input placeholder="Party Email" />
                        </div> <br>
                        <div>
                            <input placeholder="Description" />
                        </div> <br>
                        <div class ="we">
                        <input type= "file"
                        name="logo"
                        accept="image/png">

                        </div>
                        
                    </form>
                    <p>
                        <button class="finish"> SUBMIT </button>
                    </p>
                    
        </div>
    </div>

</body>

</html>