<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body>
        <div class="header">
                <img src="./badge.jpg" class= "logo"/>
                <div class="header-right">
                    <a href="./profile.html" class="active">Profile</a>
        
                    <div class="search">
                        <input placeholder="search party" />
                    </div>
        
                </div>
            </div>
        

   <div class="profile-wrapper">
        <div class="pro">
                <b>Username</b> <br>
                    Dammy<br><br>
                    <b>Fullname</b><br>
                    Ipadeola Damilola<br><br>
                    <b>Email</b><br>
                    damilola@gmail.com
            </div>
        
            <h2>LIST OF PEOPLE VOTED FOR</h2>
            
            <div class= "ul">
                <p>Aliance Nigeria People Party (ANPP) - Mrs. Rashidat Kofoworola</p> <br>
                <p>Action Congress of Nigeria(APC) - Mr. John Dossu</p><br>
                <p>Peoples Democratic Party (PDP)- Mr. Jimi Agbaje</p><br>
                <p>Nigerian Youth Party (NYP) - Mr. Banky Wellington</p><br>
                <p> Labour Party (LP) - Mr. Olumide Ipadeola</p><br>
            </div>
   </div>

</body>

</html>