<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body background="hand.jpg">


    <div class="form">
        <div class="input-fill">
            <p>
                <div class="sign-up">FILL IN THE YOUR BIO-DATA HERE</div>
            </p>
            <form>
                <div>
                    <input placeholder="Full-Name" />
                </div> <br>
                    
                <div>
                        <input placeholder="Phone Number"/>
                    </div> <br>

                    <div>
                            <input placeholder="Address" />
                        </div> <br>

                        <div>
                                <input placeholder="Nationality" />
                                </div> <br>

                    <div>
                            <input placeholder="State of origin" />
                        </div> <br>                

                <div>
                    <input placeholder="Place of Birth" />
                </div> <br>

                <div>
                    <input placeholder="Phone Number" />
                </div> <br>

                <div>
                        <input placeholder="Educational Background" />
                    </div> <br>
                
                <div class="we">
                    <input type="file" name="logo" accept="image/png">

                </div>

            </form>
            <p>
                <button class="finish"> SUBMIT </button>
            </p>

        </div>
    </div>

</body>

</html>