<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body style="background: url(election.jpg) no-repeat center center fixed; background-size: cover;">
                <div class="pen">
                    <div class="pen-fill">
                        <p>
                            <div class="step">Log in</div>
                        </p>
                        <form>
                            <div>
                                <input placeholder="Username" />
                            </div> <br>
                            <div>
                                <input placeholder="Password" />
                            </div>
                            <p>
                                <button class="finishme">Log in</button>
                            </p>
                        </form>
                        <a href="./signup.html">
                            <p>Forgot Password!</p> 
                    </div>
                </div>
              

</body>
</html>
