<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body background="hand.jpg">

    <div class="form">
        <div class="input-fill">
            <p>
                <div class="sign-up">SIGN-UP</div>
            </p>
                    <form>
                        <div>
                            <input placeholder="Username" />
                        </div> <br>
                        <div>
                            <input placeholder="Full Name" />
                        </div> <br>
                        <div>
                            <input placeholder="Email" />
                        </div> <br>
                        <div>
                            <input placeholder="Password" />
                        </div> <br>
                        <div>
                            <input placeholder="Confirm Password" />
                        </div> <br>
                    </form>
                    <p>
                        <a href="./allpolitico.html"><button class="finish"> FINISH </button></a>
                       
                    </p>
                    <a href="./log-in.html">
                        <p> Already have an account? Sign-in</p>
                    </a>
        </div>
    </div>

</body>

</html>